@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
  font-family: 'Nunito';
}

#burger{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 32px;
  width: 32px;
  margin: 1rem;
  cursor: pointer;
}